# grails-specific excludes
bin
plugins
target
target-eclipse
.link_to_grails_plugins

.DS_Store
/logs/
/.gradle
*.log
*.swp

# ide specific excludes
.settings
.classpath
.idea/
*.iml
.project
atlassian-ide-plugin.xml
/out/

plugin.xml
grails-crash-*.zip
web-app